@import 'global.styl'

html, body, #app
    width 100%
    height 100%
    overflow hidden
    min-width 320px
    
body
    font-family $font
    font-size $font-size
    color $font-color
    line-height 1.5
  
h1,h2,h3,h4,h5,h6,b,i
    font-weight normal
    font-style normal

.page
    width 100%
    height 100%
    position relative