// 字体
$font = "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif
// 字体大小-默认
$font-size = 14px
// 字体颜色-默认
$font-color = #404143

// 边框-默认
$border = 1px solid #eee
// 边框颜色-默认
$border-color = #eee

$menu-font-color = #b5c1d0
$menu-bg = #464c5b
$menu-bg-opened = #313540
$menu-active-bg = #464c5b
$primary-color = #009af2